<div class="top">
  <h3>ChatGPTからの返信結果</h3>
  <br>
  <%= @chats %>
  <br>
  <h3>さらにChatGPTに聞いてみましょう。</h3>
  <%= form_with(url: search_path, method: :get) do |form| %>
    <%= form.text_field :query, size: 50 %>
    <%= form.submit "検索" %>
  <% end %>
  <br>
  <%= link_to 'TOPページ', search_path %>
</div>